#aboute{
  font-size: 20px;
  width: 95%;
  height: 40%;
  
  
  margin: 1%;
  position: relative;
}

.column {
  width: 350px;
  float: left;
}
#books{
  width:100px;
  height:100px;
}
#call{
  width:100px;
  height:100px;
}
#contacts{
  text-align: center;
}
.landing {
  background-image: url("../images/laptop.jpg");
  padding: 200px;
  color: floralwhite;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 2px solid #008080;
}
.navbar li {
  display: inline-block;
  
} 
/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color:paleturquoise;
  overflow: auto;
  position: sticky;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 9px;
  color:black;
  text-decoration: none;
  font-size: 25px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color:gainsboro;
}
#one{
  border-radius: 50%;
  width: 200px;
  float:left;
  background-color: ghostwhite;
}

#aboute {
  padding-left: 100px;
  padding-right: 100px;
  border-bottom: 2px solid #008080;
}
#skills {
  border-bottom: 2px solid #008080;
}
 
#projects {
  border-bottom: 2px solid #008080;
}
#contact {
  border-bottom: 2px solid #008080;
}




.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 14px;
}
.footer {
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  /* color: white; */
  text-align: center;
  background-color: #008080;
}
body{
  font-size: 30px;
}
#at{
  text-align: center;
  text-shadow: powderblue;
  color:#4568d4;
}
ic{
  background-color: paleturquoise;
}
button:hover:before{
  width: 200%;
  height: 300px;
}
button:hover{
  border: 3px dotted #33aa77;
  color:palegoldenrod;
  background-color: peachpuff;
}