body{
    font-size: 30px;
    text-align: center; background-image: url("images/image1.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-bottom: 8%;
    width: auto;
    
}
.header{
    top: 0;
    bottom: 0;
    background-color: white;
    opacity: 10.0;
    
}
.nav li {
    display: inline-block;
    margin: 2%;
  }
  #one{
      border-radius: 50%;
      width: 200px;
      float:left;
      background-color: ghostwhite;
  }
  .sidebar {
    width: 30%;
    float: left;background-color: paleturquoise;}