body{
    font-size: 30px;
    text-align: center; background-image: url("images/image1.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-bottom: 8%;
    width: auto;
  scroll-behavior: smooth;
}

    

.navbar li {
    display: inline-block;
    margin: 2%;
  } /* Style the navigation bar */
  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: peru;
  }
  #one{
      border-radius: 50%;
      width: 200px;
      float:left;
      background-color: ghostwhite;
  }
  .sidebar {
    width: 30%;
    float: left;background-color:white; opacity: 0.6;}
   
    #books{
        width:100px;
        height:100px;
    }
    